header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .container-fluid {
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    align-items: center; 
  }
  
  .col-sm-2 {
    flex: 0 0 auto; 
  }
  
  .col-sm-5 {
    margin-left: 50px;
  }
  
  .logo1 {
    max-height: 60px;
  }
  
  .headerSearch {
    width: 80vh;
    height: 50px;
    padding: 17px;
    border: 1px solid #3bb77e; 
    border-radius: 5px;
    display: flex;
    align-items: center; 
  }
  
  .headerSearch input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
 
  