@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Roboto", serif;}
*{margin: 0px; padding: 0px; box-sizing: border-box;}
.container-fluid{padding: 0px 45px;}
.transition{transition: all 0.3s ease-in-out;}
.cursor{cursor: pointer;}

.bg-g, .bg-success{background: #3bb77e;}
.text-g{color: #3bb77e;}

.hd{
    font-size: 35px;
    font-weight: 600;
}